@font-face {
    font-family: 'Roboto-medium';
    src: url('/fonts/Roboto-Medium.woff') format('woff1'),
        url('/fonts/Roboto-Medium.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
